*.bak
*.log
.DS_Store
.tmp.drive*
.work
.work_profile
Code/
coc/
code-server/
configstore/
dconf/
demo.tape
gh/
glab-cli/
helix/.config/helix/runtime/
htop/
jira-cli/
lazy-lock.json
neovim/.config/nvim/.netrwhist
out.gif
packer_compiled.lua
pulse/
tags*
tmp/
vim/.vim/.netrwhist
vim/.vim/pack/minpac/start/*
vim/.vim/plugged
vim/.vim/undo/
vscode-sqltools/
work.lua
yarn/
ssh/.ssh/*
!ssh/.ssh/config
!ssh/.ssh/allowed_signers
