!ssh/.ssh/allowed_signers
!ssh/.ssh/config
*.bak
*.log
*.swp
*.tape
*/.config/op/
.DS_Store
.netrwhist
.tmp.drive*
.viminfo
.work
.work_profile
coc/
code-server/
Code/
configstore/
gh/
glab-cli/
helix/.config/helix/runtime/
htop/
jira-cli/
out.gif
pack/*
plugged/*
pulse/
spell/*
ssh/.ssh/*
tags*
tmp/
utils/.local/bin/custodian
utils/.local/bin/devpod
utils/.local/share/
neovim/.config/nvim/lazy-lock.json
.env
