!ssh/.ssh/allowed_signers
!ssh/.ssh/config
*.bak
*.log
*.tape
*/.config/op/
.DS_Store
.tmp.drive*
.work
.work_profile
Code/
coc/
code-server/
configstore/
gh/
glab-cli/
helix/.config/helix/runtime/
htop/
jira-cli/
out.gif
pulse/
ssh/.ssh/*
tags*
tmp/
utils/.local/bin/devpod
utils/.local/share/
