; git commit signing
; https://developer.1password.com/docs/ssh/git-commit-signing
[user]
  name = Peter Benjamin
  email = petermbenjamin@gmail.com
;  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINcFm5rlVWP2ylrKOVINDm8hSxm42/zctUfHnvvWRH3C

;[core]
;  sshCommand = ssh -i ~/.ssh/personal.pub

;[gpg]
;  format = ssh

;[gpg "ssh"]
;  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
;  allowedSignersFile = ~/.ssh/allowed_signers

;[commit]
;  gpgsign = true
