# https://editorconfig.org
root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml,json,md}]
indent_style = space
indent_size = 2

[Makefile,makefile]
indent_style = tab
indent_size = 4
