# vim:ft=bash:
# shellcheck shell=bash

# Hint: `complete -p` shows all completions in the form of commands you can run
# to replicate the completion behavior for aliases.

# general
alias ll="ls -alFh --color"
alias grep="grep --color=auto"

# vim
alias vim=nvim
alias vi="vim --clean"

# tmux
alias tm="tmux a || tmux"

# terraform
alias tfsl="terraform state list"
alias tfsr="terraform state list | fzf --multi --reverse --height=20 | xargs -t -I{} -L1 terraform state rm '{}'"
alias tfss="terraform state show"

alias bubu="brew update && brew upgrade && brew cleanup --prune 0"

# linux
if hash apt &>/dev/null; then
  SUDO=$(which sudo)
  alias auau="${SUDO} apt update && ${SUDO} apt upgrade -y"
fi
