# vim:ft=bash:
# shellcheck shell=bash

# Hint: `complete -p` shows all completions in the form of commands you can run
# to replicate the completion behavior for aliases.

alias cp='cp -i'
alias grep="grep --color=auto --line-buffered"
alias ll="ls -alFh"
alias mv='mv -i'
alias rm='rm -i'

# vim
alias vi="vim --clean"
alias vg="vim +0G"

# tmux
alias tm="tmux a || tmux"

# kubectl
# https://github.com/ahmetb/kubectl-aliases
[ -f ~/.kubectl_aliases ] && source ~/.kubectl_aliases

# terraform
alias tf=terraform
alias tfa="terraform apply"
alias tff="terraform fmt"
alias tfp="terraform plan"
alias tfsl="terraform state list"
alias tfsr="terraform state list | fzf --multi --reverse --height=20 | xargs -I{} -L1 terraform state rm '{}'"
alias tfss="terraform state show"
alias tfv="terraform validate"

# osx
if [[ $(uname) == "Darwin" ]]; then
	# enable remote login
	alias macos_remote_login="sudo systemsetup -getremotelogin && sudo systemsetup -setremotelogin on && sudo systemsetup -getremotelogin"
	# .DS_Store
	alias macos_dsclean="find ~ -type f -name .DS_Store -exec rm -rf {} \;"
fi

# linux
if hash apt &>/dev/null; then
	SUDO=$(which sudo)
	alias auau="${SUDO} apt update && ${SUDO} apt upgrade -y"
fi
