# vim:ft=bash:ts=2:sw=2:sts=2:et:
# shellcheck shell=bash

# BREW
[[ -d "/opt/homebrew/bin" ]] && eval "$(/opt/homebrew/bin/brew shellenv)"

# General
export FZF_DEFAULT_OPTS="--bind alt-a:select-all,alt-d:deselect-all,ctrl-j:preview-down,ctrl-k:preview-up"
export GIT_TERMINAL_PROMPT=1
export HISTCONTROL=ignoreboth

[[ ":${PATH}:" != *":${HOME}/.local/bin:"* ]] && PATH="${HOME}/.local/bin:${PATH}"
[[ ":${PATH}:" != *":${HOME}/.aws:"* ]] && PATH="${HOME}/.aws:${PATH}"

# vim
export EDITOR=vim

# tfenv
if [[ -d "${HOME}/.tfenv" ]]; then
  [[ ":${PATH}:" != *":${HOME}/.tfenv/bin:"* ]] && PATH="${HOME}/.tfenv/bin:${PATH}"
fi

# Go
export GODEBUG=x509ignoreCN=0
export GOPATH="${HOME}/go"
[[ ":${PATH}:" != *":${GOPATH}/bin:"* ]] && PATH="${GOPATH}/bin:${PATH}"

# 1Password Agent
if [[ "$(uname)" == "Darwin" ]]; then
  export SSH_AUTH_SOCK="${HOME}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
fi

# Rootless Docker
# docs: https://docs.docker.com/engine/security/rootless/
#   $ dockerd-rootless-setuptool.sh install
[[ "$(uname)" == "Linux" ]] && export DOCKER_HOST=unix:///run/user/1000/docker.sock

# PROMPT
export PS1='\n\w\n\$ '

# PATH (must be last)
export PATH
