# vim:ft=bash:ts=2:sw=2:sts=2:et:
# shellcheck shell=bash

# General

export BROWSER=lynx
export DOTFILES="${HOME}/.dotfiles"
export EDITOR=vim
export FZF_DEFAULT_OPTS='--bind alt-a:select-all,alt-d:deselect-all,ctrl-j:preview-down,ctrl-k:preview-up'
export GIT_TERMINAL_PROMPT=1
export HISTCONTROL=ignoreboth
export RIPGREP_CONFIG_PATH="${HOME}/.config/ripgrep/.ripgreprc"
export SSH_AUTH_SOCK="${HOME}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

# BREW
[[ -d "/opt/homebrew/bin" ]] && eval "$(/opt/homebrew/bin/brew shellenv)"

# Rootless Docker
# docs: https://docs.docker.com/engine/security/rootless/
#   $ dockerd-rootless-setuptool.sh install
[[ "$(uname)" == "Linux" ]] && export DOCKER_HOST=unix:///run/user/1000/docker.sock

# MISC
export DOTFILES="${HOME}/.dotfiles"

# Paths
## General
[ -d "${HOME}/bin" ] && export PATH="${PATH}:${HOME}/bin"

## nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

## go
export GODEBUG=x509ignoreCN=0
export GOPATH="${HOME}/go"
export PATH="${PATH}:${GOPATH}/bin"

## prompt
if hash __git_ps1 2>/dev/null; then
export GIT_PS1_SHOWDIRTYSTATE="true"
export GIT_PS1_SHOWUNTRACKEDFILES="true"
export GIT_PS1_SHOWUPSTREAM="auto"
export GIT_PS1_SHOWSTASHSTATE="true"
export GIT_PS1_HIDE_IF_PWD_IGNORED="false"
export GIT_PS1_SHOWCOLORHINTS="true"
export PROMPT_COMMAND='__git_ps1 "\\n\w" "\\n\\\$ "'
else
	export PS1="\\n\w\\n\\$ "
fi
